body{
  padding: 20px 10px;
  font-family: Arial;
  font-weight: normal;
  margin: 0 auto;
  max-width: 1000px;
}

h1{
	color: White;
	text-align: center;
}

h2{
	text-align: center;
	font-size: 20pt;
}

.lesson{
	background-color: black;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
}

.content{
	background-color: #D8F6CE;
	margin: 15px auto;
  padding: 15px;
  border-radius: 5px;
  
}

.key-term{
  font-weight: bold;
  font-style: italic; 
}
